@font-face {
    font-family: marina;
    src: url(Mogilte.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: lamoric;
    src: url(Lamoric\ Rowen\ TTF.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}




/* ****************************************************************SUCESSO************************************************ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.card-sucesso {
    background-color: #ffffff;
    border-radius: 20px;
    width: 350px;

    overflow: hidden;
    border: 2px solid rgb(96, 108, 56);
}



.card-corzinha {
    background-color: rgb(96, 108, 56);
    color: #fff;
    padding: 20px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.card-corzinha h2 {
    font-size: 18px;
    margin-top: 10px;
}

.card-body {
    padding: 20px;
    font-size: 15px;
    line-height: 1.5;
}

button {
    background-color: rgb(96, 108, 56);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    margin-top: 15px;
}

.linkBranco {
    text-decoration: none;
    color: white;
}

.body-sucesso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(96, 108, 56);
}

/* ****************************************************************RODAPÉ************************************************ */
footer {
    background-color: rgb(96, 108, 56);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    max-width: 220px;
}

.footer-links {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-links a {
    color: #fdf9f4;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-quote {
    flex: 2;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.footer-social {
    flex: 1;
    text-align: center;
}

/* Ícones  (ex: WhatsApp, Instagram, Facebook) */
.footer-social a {
    margin: 0 8px;
    color: #fff;
    font-size: 20px;
}

.footer-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(96, 108, 56);
    border-radius: 25px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
}


/* ****************************************************************IFRAME************************************************ */

.cabecalho {
    background-color: rgb(96, 108, 56);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    height: 100px;
    z-index: 10;
}

/* esse flex-wrap meio q quebra a linha dos liunks pra eles irem pra baixp */
.botoes {
    display: flex;
    flex-wrap: wrap;
    line-height: 27px;
    gap: 10px;
    justify-content: flex-end;
    max-width: 70%;
}

/* esse "a" é pra selecionar todos os elementos dentro da class botões */
.botoes a {
    background-color: white;
    color: #4c5b2a;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
}

.conteudo {
    width: 100%;
    margin-top: -10px;
    background-color: #fff;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

/* NAO TIREM ISSO, PETECA A LOGO E A IMG */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 60px;
    width: auto;
    gap: 15px;
}



/* ****************************************************************FUNDOS************************************************ */
#fundo2 {
    background-color: rgb(254, 250, 224);

}

.fundo-verde {
    background-color: rgb(96, 108, 56);
}

#fundo-verde {
    background-color: rgb(96, 108, 56);
}

.fundo-verde3 {
    background-color: #7FA653;
}

.fundo-bege {
    background-color: #fdf9f4;
}

.fundo-cinza {
    background-color: #f6f6f6;
}

.letra-dourada {
    color: #d4af37;
    position: absolute;
    z-index: 10;
    margin-left: 20px;
    margin-top: -500px;
    font-size: 400%;
    font-family: lamoric;
}

.letra-normal {
    color: #000000;
    position: absolute;
    z-index: 10;
    margin-left: 20px;
    margin-top: -500px;
    font-size: 400%;
    font-family: lamoric;
}

#fonte {
    font-family: lamoric;

}





/* ****************************************************************AGENDAMENTO************************************************ */


.card-agendamento {
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #556b2f;
}


#divcards-unhas {
    position: absolute;
    margin-left: -100px;
    top: 90px;
}

#divcards-cabelos {
    position: absolute;
    margin-left: 300px;
    top: 90px;

}

#divcards-maquiagem {
    position: absolute;
    margin-left: 670px;
    top: 90px;

}

#divcards-especial {
    position: absolute;
    margin-left: 1050px;
    top: 90px;

}

.card-servico {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
}

.card-servico .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
/* animacao bonitinha isso aq */
.card-servico:hover {
    transform: scale(1.03);
}

.card-servico img {
    height: 380px;
    object-fit: cover;
}

.card-servico a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
  }
/* ****************************************************************FORMS************************************************ */
#titulopagamento {
    position: absolute;
    top: 100px;
    font-family: lamoric;
    color: #bec092;
    cursor: default;
}

.tituloagendamento {
    top: 70px;
    font-family: lamoric;
    color: #000000;
    cursor: default;
    text-align: center;
}

#titulopagamento {
    position: absolute;
    top: 105px;
    font-family: lamoric;
    color: #ddb141;
    cursor: default;
}

.pesquisarA {
    top: 105px;
    font-family: lamoric;
    color: #000000;
    cursor: default;

}

.titulo-home {
    font-family: lamoric;
    color: #ffffff;


}
.tituloConta {
    top: 105px;
    font-family: lamoric;
    color: #030303;
    cursor: default;
    text-align: center;

}

.listarU {

    font-family: lamoric;
    color: #ffffff;
    cursor: default;
    text-align: center;
}

#tituloservicos {
    text-align: center;
    top: 10px;
    font-family: lamoric;
    color: #000000;
    cursor: default;
    font-size: 50px;
}

.colorida {
    color: #ddb141;
    font-family: lamoric;
}

#colorida {
    color: #ddb141;
    font-family: lamoric;

}

#formA {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 2px solid #556b2f;

}

#body-agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(96, 108, 56);
}
.selecionarS {
    text-align: center;
    font-family: lamoric;
    color: #000000;
    font-size: 50px;
    cursor: default;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* Dourado destacado no subtítulo */
.selecionarS .colorida {
    color: #ddb141;
}


/* ****************************************************************MARILENE************************************************ */

.marilenetexto {
    position: absolute;
    margin-top: -60px;
    font-family: lamoric;
    color: #bec092;
}

.marilenediv {
    font-family: marina;
    position: absolute;
    height: auto;
    width: 900px;


}